:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --paragraph-font: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background: var(--Almost-White);
}

nav {
    display: flex;
    align-items: center;
    margin: 10px 5px 0;
}

nav .logo {
    width: 80px;
    margin-right: 8%;
}

.nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.nav ul {
    display: inline-flex;
    /* margin-top: 10px; */
    /* align-items: center; */
    list-style: none;

    /* test for the dropdown */
    /* position: relative; */
}

.nav .dropdown {
    display: inline-block;
    position: relative;
    /* z-index: 2; */
}

.nav .drop-content {
    display: none;
    position: absolute;
    background-color: var(--Almost-White);
    min-width: 120px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.3);
    z-index: 2;
    padding: 5px 5px;
    border-radius: 10px;
}

.nav .drop-content a {
    color: var(--Medium-Gray);
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.nav .drop-content a:hover {
    background-color: #ddd;
}

.nav .dropdown:hover .drop-content {
    display: block;
}

.nav ul li {
    margin-right: 30px;
}

.nav ul li a:hover {
    color: var(--Almost-Black);
}

.nav li a {
    text-decoration: none;
    color: var(--Medium-Gray);
    font-size: 15px;
    transition: 1s;
}

nav .sign-in a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px;
    padding: 10px 20px;
    color: var(--Medium-Gray);
    transition: 1s;
}

nav .sign-in a:hover {
    color: var(--Almost-Black);
}

.sign-in .reg-btn {
    border: 1px solid var(--Medium-Gray);
    border-radius: 8px;
    transition: 1s;
}

.sign-in .reg-btn:hover {
    border: 1px solid var(--Almost-Black);
    color: var(--Almost-Black);
}

nav .menu-icon {
    margin-left: 30px;
    cursor: pointer;
    display: none;
}

nav .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 25px;
    cursor: pointer;
    display: none;
}

.content-box {
    width: 72%;   /*used 80% before*/
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
}

/* previously used max-width: 450px; padding-top of 80px and margin: 10px 0;*/
.col-1 {
    margin-top: 30px;
    flex-basis: 50%;
}

/* previously used padding-top: 20px;*/
.col-1 .text-box {
    margin: 50px 0;
}

.col-1 h1 {
    font-size: 66px;
    line-height: 62px;
    margin-bottom: 30px;
}

.col-1 p {
    color: var(--Medium-Gray);
    margin-bottom: 50px;
    font-size: var(--paragraph-font);
    line-height: 23px;
}

.col-1 .hero-btn {
    text-decoration: none;
    border: 1px solid var(--Almost-Black);
    padding: 10px 25px;
    border-radius: 8px;
    color: var(--Almost-White);
    background: var(--Almost-Black);
    font-size: 15px;
    cursor: pointer;
    transition: 1s;
}

.col-1 .hero-btn:hover {
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
}

.col-1 .partners {
    margin-top: 60px;
}

.col-1 .partners img {
    max-width: 60px;
    margin-right: 30px;
    filter: grayscale(100%);
    cursor: pointer;
}

.col-2 {
    margin-left: auto;
    margin-top: 30px;
    flex-basis: 42%;
}

.col-2 img {
    width: 100%;
}


/* media query */

@media (max-width: 600px) {

    .container {
        text-align: center;
        position: relative;
        height: 100vh;
    }

    nav {
        align-items: flex-start;
    }

    .nav {
        display: block;
        position: absolute;
        top: 0;
        right: -500px;
        z-index: 2;
        height: 100vh;
        width: 250px;
        padding: 30px;
        flex-direction: column;
        text-align: left;
        box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.6);
        background-color: var(--Almost-White);
    }

    .nav ul {
        flex-direction: column;
        margin-top: 60px;
        margin-left: 20px;
        /* align-items: flex-start; */
    }

    .nav ul li {
        margin-bottom: 25px;
    }

    .nav li a {
        color: var(--Medium-Gray);
        font-size: 15px;
    }

    nav .nav li a:hover {
        color: var(--Almost-Black);
    }

    nav .menu-icon {
        display: block;
        position: absolute;
        right: 30px;
    }

    nav .close-btn {
        display:block;
    }

    .row {
        flex-direction: column;
    }

    .content-box {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .content-box .row .col-1 {
        margin-top: 10px;
        order: 1;
    }

    .content-box .col-1 h1 {
        font-size: 38px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .content-box .col-1 p {
        font-size: 18px;
        margin: 30px 0 50px;
    }

    .col-1 .text-box {
        width: 95%;
        padding: 0 0 40px;
    }

    .nav .sign-in {
        flex: 1;
        text-align: right;
    }

    .nav .sign-in a {
        display: block;
        text-align: center;
        color: var(--Medium-Gray);
    }

    .nav .sign-in a:hover {
        color: var(--Almost-Black);
    }

    .content-box .row .col-2 {
        margin-top: 50px;
    }

    .nav .drop-content {
        margin-top: -25px;
    }

    .col-1 .partners {
        margin-top: 30px;
    }

    .col-1 .partners img {
        width: 50px;
    }
}













